---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { Component as Dropdownmenu } from '../components/Dropdownmenu.tsx';
import { Button } from '@/components/ui/button';

const herosection = {
  heading: "Discover Your Ideal Car",
  description: "Find your next ride here!",
};

---

<Layout>

    <main>
		<div class="absolute inset-0 bg-[url('/buyacarheroimg.png')] bg-cover bg-center max-w-screen object-cover h-[75vh]">
			<div class="absolute inset-0 bg-black/40"></div>
		</div>


		<div class="container mx-auto lg:mt-42 mt-36 flex flex-col gap-5 items-center justify-center">

			<h1 class="relative z-10 sm:px-2 lg:px-0 lg:max-w-screen-2xl uppercase text-center text-accent text-2xl font-bold md:text-3xl lg:text-5xl text-wrap">
				{herosection.heading}
			  </h1>
			  <p class="relative z-10 sm:px-2 lg:px-0 mx-auto mt-2 md:mt-4 lg:max-w-screen-2xl text-center text-accent md:text-lg lg:text-xl text-wrap">
				{herosection.description}
			  </p>
		</div>
	</main>

	<section class="container mx-auto relative z-10 lg:max-w-screen-lg max-w-screen-sm lg:my-28 my-20 bg-accent p-4 rounded-2xl flex flex-col gap-5 items-center justify-center shadow-2xl">

		<p class="lg:text-3xl md:text-2xl text-xl font-bold uppercase text-destructive text-center text-wrap">Uncover Your Perfect Match</p>

		<p class="text-center text-wrap text-destructive lg:text-lg text-md max-w-2xl">
			Let’s find a car that matches your vibe! Answer a few quick questions so we can recommend rides that suit your personality and lifestyle.
		</p>
		

		<!-- Dropdown Menu -->

		<div class="flex flex-col gap-12 p-4">
			<div class="flex flex-wrap gap-6">

				<div class="flex-1 min-w-[200px]">
					<span>
						How do you usually spend your weekends?
					</span>
					<Dropdownmenu/>
				</div>
	
				<div class="flex-1 min-w-[200px]">
					<span>
						How do you usually spend your weekends?
					</span>
					<Dropdownmenu/>
				</div>
			</div>
		</div>

		<a href="/buyacar">
			<Button className="bg-secondary hover:bg-primary hover:text-primary-foreground text-destructive font-semibold uppercase my-2">
			Take Complete Quiz
			</Button>
		</a>

	</section>

</Layout>
