---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const herosection = {
    heading: "Terms and Conditions",
    description: "Welcome to Gearhwan. By accessing or using our platform, you agree to be bound by the following Terms and Conditions. Please read them carefully.",
};

---

<Layout>

    <main>

        <div class="container mx-auto lg:my-42 my-36 flex flex-col gap-5 items-center justify-center">

            <h1 class="relative z-10 sm:px-2 lg:px-0 lg:max-w-screen-2xl uppercase text-center text-destructive text-2xl font-bold md:text-3xl lg:text-5xl text-wrap">
                {herosection.heading}
              </h1>
              <p class="relative z-10 sm:px-2 lg:px-0 mx-auto mt-2 md:mt-4 lg:max-w-screen-2xl text-center text-destructive md:text-lg lg:text-xl text-wrap">
                {herosection.description}
              </p>
        </div>

    </main>

    <section>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                1. Overview 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                Gearhwan is an online platform that facilitates car buying and renting between users. Throughout these Terms, the terms “we,” “our,” or “us” 
                refer to Gearhwan, while “you” or “user” refers to any individual or entity using our services, whether as a buyer, renter, or vehicle owner. 
                A “listing” refers to any car made available for sale or rent on our platform.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                2. Eligibility 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                To use Gearhwan, you must be at least 18 years old and legally capable of entering into binding agreements. You must also have a valid 
                government-issued ID, and for rentals or sales involving driving, a valid driver’s license is required. If you do not meet these criteria, 
                you are not authorized to use our services.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                3. User Accounts 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                To access certain features, users must create an account. You are responsible for safeguarding your account credentials and for all activities 
                occurring under your account. Gearhwan reserves the right to suspend or delete accounts that violate our Terms or pose a risk to the integrity 
                of the platform.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                4. Vehicle Listings 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                Users who list vehicles for sale or rent are solely responsible for ensuring that the details in their listings are accurate and truthful. This 
                includes providing valid documentation and up-to-date descriptions of the vehicle’s condition. Any misleading or fraudulent listings may be 
                removed without notice, and the responsible user’s account may be suspended or terminated.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                5. Buying & Renting a Car 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                When buying or renting a car, users are responsible for ensuring that the vehicle is in good condition and that they have the necessary 
                documentation to complete the transaction. Gearhwan is not liable for any damage or loss incurred during the buying or renting process.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                6. Payment & Security 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                Gearhwan does not handle payments directly. Transactions are processed through secure third-party payment gateways. Users are responsible 
                for ensuring the security of their payment information and for verifying the legitimacy of the payment process. Gearhwan is not liable for 
                any unauthorized transactions or disputes arising from payment processes.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                7. Payment & Fees 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                Gearhwan is not liable for any unauthorized transactions or disputes arising from payment processes. 
                Gearhwan may charge a listing fee for users who list vehicles for sale or rent on our platform. 
                This fee is intended to cover the costs of maintaining and operating our platform.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                8. Termination 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                Gearhwan reserves the right to terminate or suspend any user’s account if they are found to be in violation of these Terms. 
                Gearhwan may also terminate or suspend any user’s account if they are found to be in violation of any applicable laws or regulations.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                9. Intellectual Property
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                All intellectual property on Gearhwan, including the brand name, logo, designs, and website content, is the exclusive property of Gearhwan or its 
                licensors. You may not reproduce, copy, or use any part of the platform’s content without our express written permission.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                10. Changes to Terms 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                Gearhwan reserves the right to modify these Terms at any time. Any changes will be effective immediately upon posting on the platform. 
                It is your responsibility to review these Terms periodically to stay informed of any changes.
            </p>

        </div>

        <div class="container mx-auto flex flex-col gap-5 bg-secondary p-4 rounded-2xl my-20 shadow-xl">

            <h3 class="text-2xl font-bold uppercase text-destructive text-center text-wrap">
                11. Contact Information 
            </h3>

            <p class="text-center text-wrap text-destructive lg:text-lg text-md">
                For any inquiries, please contact us at <a href="mailto:abdulahadi2003m@gmail.com">contact@gearhwan.com</a>.
            </p>

        </div>

    </section>

</Layout>
